@media only screen and (min-width : 992px) {
    .fixed-top{
        width: calc(100% - 250px);
        left: 250px;
    }
    .navbar{
        padding: 0;
    }
}
@media only screen and (min-width : 1024px) {
    .navbar{
        padding: 0 50px;
    }
  }
  @media only screen and (min-width: 200px) and (max-width: 767px){
    .navbar{
        padding: 0;
    }
  }

  .sidenav{
      z-index: 9999;
      width: 250px;
  }
  .sidenav-trigger{
      color: black;
  }

  .navbar-brand{
      padding: 0;
  }
  .nav-link{
      padding: 0;
      /* height: fit-content; */
  }
  .dropdown-menu{
      right: 0;
  }
  .navbar{
    flex-wrap: nowrap;  
  }
  .fa-circle-user{
      line-height: 0 !important;
  }
  nav i{
      height: 0;
  }
